<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jfeat.am.module.statistics.services.persistence.dao.StatisticLegendMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.jfeat.am.module.statistics.services.persistence.model.StatisticLegend">
		<id column="id" property="id" />
		<result column="field" property="field" />
		<result column="legend" property="legend" />
		<result column="legend_key" property="legendKey" />
		<result column="legend_value" property="legendValue" />
		<result column="index" property="index" />
		<result column="record_time" property="recordTime" />
		<result column="month_name" property="monthName" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, field, legend, legend_key AS legendKey, legend_value AS legendValue, index, record_time AS recordTime, month_name AS monthName
    </sql>

</mapper>
