<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jfeat.am.module.tt.services.persistence.dao.StatisticsRecordMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.jfeat.am.module.tt.services.persistence.model.StatisticsRecord">
		<id column="id" property="id" />
		<result column="field_id" property="fieldId" />
		<result column="field" property="field" />
		<result column="record_name" property="recordName" />
		<result column="record_value" property="recordValue" />
		<result column="record_tuple" property="recordTuple" />
		<result column="record_timeline" property="recordTimeline" />
		<result column="record_time" property="recordTime" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, field_id AS fieldId, field, record_name AS recordName, record_value AS recordValue, record_tuple AS recordTuple, record_timeline AS recordTimeline, record_time AS recordTime
    </sql>

</mapper>
