<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jfeat.am.module.statistics.services.persistence.dao.StatisticsFieldMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.jfeat.am.module.statistics.services.persistence.model.StatisticsField">
		<id column="id" property="id" />
		<result column="field" property="field" />
		<result column="name" property="name" />
		<result column="group_id" property="groupId" />
		<result column="pattern" property="pattern" />
		<result column="chart" property="chart" />
		<result column="invisible" property="invisible" />
		<result column="index" property="index" />
		<result column="percent" property="percent" />
		<result column="meta_record_id" property="metaRecordId" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, field, name, group_id AS groupId, pattern, chart, invisible, index, percent, meta_record_id AS metaRecordId
    </sql>

</mapper>
