<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jfeat.am.module.statistics.services.persistence.dao.StatisticsRecordAttrMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.jfeat.am.module.statistics.services.persistence.model.StatisticsRecordAttr">
		<id column="id" property="id" />
		<result column="field" property="field" />
		<result column="record_name" property="recordName" />
		<result column="legend" property="legend" />
		<result column="note" property="note" />
		<result column="index" property="index" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, field, record_name AS recordName, legend, note, index
    </sql>

</mapper>
